<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les élus
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <h2>{{nombreElus}} élus</h2>
            </div>
            <div class="col-md-8 align-right" has-authority="ROLE_ADMIN">
                <button class="btn btn-sm btn-primary" ui-sref="elu.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Ajouter un élu</span>
                </button>
                <a class="btn btn-sm btn-primary" href="api/elus/export">
                    <span class="fa fa-table"></span>
                    <span>Export Excel</span>
                </a>
                <a class="btn btn-sm btn-primary" href="api/elus/export-pdf">
                    <span class="fa fa-file-text"></span>
                    <span>Export PDF</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12"
                 ng-repeat="dto in dtos"
                 ng-if="!dto.elu.dateDemission">
                <div class="info-box entity-component" ui-sref="elu.detail({id:dto.elu.id})">
                    <span class="info-box-photo">
                        <img ng-if="dto.elu.image" ng-src="images/{{dto.elu.image}}"/>
                    </span>

                    <div class="info-box-content">
                        <span
                            class="info-box-titre">{{dto.elu.civilite | civilite}} {{dto.elu.prenom}} {{dto.elu.nom}}</span>
                        <span class="info-box-info" ng-if="dto.groupePolitique">
                            {{dto.groupePolitique.nomCourt}}
                        </span>
                        <span class="info-box-info" ng-if="dto.groupePolitique == null">
                            Sans groupe
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Anciens élus</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none;">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12"
                                 ng-repeat="dto in dtos"
                                 ng-if="dto.elu.dateDemission">
                                <div class="info-box entity-component" ui-sref="elu.detail({id:dto.elu.id})">
                                <span class="info-box-photo">
                                    <img ng-if="dto.elu.image" ng-src="images/{{dto.elu.image}}"/>
                                </span>
                                    <div class="info-box-content">
                                        <span class="info-box-titre">
                                            {{dto.elu.civilite | civilite}} {{dto.elu.prenom}} {{dto.elu.nom}}
                                        </span>
                                        <span class="info-box-info" ng-if="dto.groupePolitique">
                                            {{dto.groupePolitique.nomCourt}}
                                        </span>
                                        <span class="info-box-info" ng-if="dto.groupePolitique == null">
                                            Sans groupe
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
