<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box box-elu box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-users"></i> Commission permanente</h3>
        </div>
        <div class="box-body">
            <div ng-repeat="a in dto.elu.appartenancesCommissionPermanente"
                 ng-if="a.dateFin == null">
                <div class="unit-bloc action-bloc"
                     ui-sref="elu.detail.finAppartenanceCommissionPermanente({appartenanceId: a.id})">
                    <span class="grey">Membre depuis le</span> {{a.dateDebut}}
                </div>
            </div>
            <div class="unit-bloc" ng-if="!eluEnCommissionPermanenteOuFonction">
                Non membre de la commission
            </div>
        </div>
        <div class="btn-group elu-action" ng-if="!eluEnCommissionPermanenteOuFonction">
            <button type="button" class="btn btn-default"
                    ui-sref="elu.detail.ajouterCommissionPermanente"
                    ng-if="!eluEnCommissionPermanenteOuFonction"
                    has-authority="ROLE_ADMIN">
                <span class="fa fa-plus"></span>
            </button>
        </div>
        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"-->
        <!--aria-expanded="false">-->
        <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu pull-right">-->
        <!--<li ng-if="!eluEnCommissionPermanente">-->
        <!--<a href="#" ui-sref="elu.detail.ajouterCommissionPermanente">-->
        <!--Ajouter à la commission permanente-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
    </div>
</div>
