<div>
    <section>
        <div class="container">
            <h1>Réunion de CT {{reunion.libelle}}</h1>
            <h2>du {{reunion.date | date:'mediumDate'}} de {{reunion.heureDebut}} à {{reunion.heureFin}}</h2>
            <br/>
            <div class="info-box table-info-box">
                <h3>Commissions thématiques</h3>
                <ul>
                    <li ng-repeat="ct in reunion.commissionsThematiques track by ct.id">
                        {{ct.nom}}
                    </li>
                </ul>
            </div>
            <div class="table-responsive info-box table-info-box">
                <h3>Signatures de la séance</h3>
                <div class="clearfix">
                    {{signaturesCount.totalMissing}} signatures manquantes
                </div>
                <table class="table table-striped signature-table">
                    <thead>
                    <tr>
                        <th class="elu">Élus</th>
                        <th>Signature</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="presenceElu in reunion.presenceElus track by presenceElu.id">
                        <td class="elu">
                            <a ui-sref="elu.detail({id:presenceElu.elu.id})">
                                {{presenceElu.elu.prenom}} {{presenceElu.elu.nom}}
                                <br/>
                                ({{presenceElu.elu.groupePolitique}})
                            </a>
                        </td>
                        <td class="signature-td">
                            <signature-seance ng-init="index = 0"></signature-seance>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
